body {
  background-color: black;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  padding: 10px;
}

h2 {
  text-align: center;
  color: white;
}

#cards {
  /* align-items: center; */
  color: white;
  display: block;
  padding: 10px;
}

img {
  /* min-width: 100px; */
  max-width: 150px;
}
img:hover {
  transform: scaleX(-1);
}

#planetas {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

#title-planet-card {
  text-align: center;
  font-size: x-large;
}

#missCard {
  text-align: center;
  margin: 6px;
  cursor: pointer;
  color: black;
  background-color: wheat;
  padding: 1%;
  width: 140px;
  box-shadow: 2px 2px 2px 1px lightgray inset;
  border-radius: 10%;
}

#missCard:hover {
  margin: 9px;
  cursor: pointer;
  color: black;
  background-color: wheat;
  padding: 3%;
  width: 150px;
  box-shadow: 2px 2px 2px 1px gray inset;
  border-radius: 5%;
}

#missoes {
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#mission-name {
  font-weight: bold;
  font-size: large;
  font-family: sans-serif;
}

#mission-subtitle {
  display: flex;
  font-size: small;
  align-items: center;
  font-family: sans-serif;
}

#mission-country {
  padding-left: 4px;
}